.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.about__title {
  text-transform: uppercase;
}

.about__image {
  height: 50vh;
}

.about__image img {
  height: 100%;
}
