.banner {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.banner__info {
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 2560px) {
  h1 {
    font-size: 8rem;
  }
}
