.footer {
  color: white;
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social__icons {
  display: flex;
  list-style: none;
  gap: 10px;
}

.footer__social__icons img {
  height: 24px;
  width: 24px;
  filter: invert() sepia() saturate(0%) hue-rotate(106deg) brightness(105%)
    contrast(103%);
}

/* @media (min-width: 2560px) {
  .footer {
    padding: 20px 40px;
  }
  .footer__social__icons img {
    height: 48px;
    width: 48px;
  }
  .footer p {
    font-size: 4rem;
  }
} */
