.footer {
  color: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social__icons {
  display: flex;
  list-style: none;
  gap: 10px;
}

.footer__social__icons img {
  height: 24px;
  width: 24px;
  filter: invert() sepia() saturate(0%) hue-rotate(106deg) brightness(105%)
    contrast(103%);
}
