.header {
  position: fixed;
  padding: 0.5rem 2rem;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.heacer__nav {
  width: 100%;
}

.header .header__logo {
  width: 5rem;
}

.header .header__logo img {
  width: 100%;
}

.header__nav .header__nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header__nav__list__item {
  height: 3rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  will-change: transform;
  display: none;
}

.header__nav__list__item--menu {
  display: flex;
}

.hover-underline-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 25px;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__nav__list__item a:link,
.header__nav__list__item a:visited {
  font-size: 1.7rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.hidden--item {
  display: none;
}

@media (min-width: 1024px) {
  .hidden--item {
    display: flex;
  }
  .header__nav__list__item a[href="/index.html"] {
    display: none;
  }
}

@media (min-width: 2560px) {
  .header {
    padding: 2rem 10rem;
  }

  .header__nav {
    width: auto;
  }

  .header__items {
    max-width: 1400px;
  }

  .header__nav__list {
    width: 100%;
  }

  .header .header__logo {
    width: 10rem;
  }

  .header__nav .header__nav__list {
    justify-content: space-between;
    width: 800px;
  }
  .header__nav__list__item a:link,
  .header__nav__list__item a:visited {
    font-size: 3rem;
  }
}
