.projects {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
  border-top: 5px solid var(--primary-dark-color);
  padding-top: 20px;
}

.projects h2 {
  margin-bottom: 20px;
}

.projects--layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  box-shadow: 0 0 0.5rem 0.15rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
  margin-bottom: 20px;
  max-width: 350px;
  width: 260px;
  min-height: 470px;
  background-color: var(--primary-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project img {
  height: 190px;
  width: 260px;
}

.project:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

.project__content {
  padding: 1rem 3rem;
}

.project__content__title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.project__content__techs {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 10px;
}

.project__content__description {
  font-size: 1.5rem;
}

.project__links {
  padding: 10px 20px;
}

.tech img {
  height: 30px;
  width: 30px;
}

.project__img {
  width: 100%;
}

@media (min-width: 768px) {
  .projects--layout {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects--layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
