.message {
  width: 90%;
  max-width: 1080px;
  margin: 25px auto;
  padding: 100px 0;
  text-align: center;
  background-color: var(--success-message);
  opacity: 0.9;
  border-radius: 25px;
}

.message__content h2 {
  width: 100%;
}

button.btn.back--btn {
  background-color: var(--primary-color);
}

button.btn.back--btn a {
  color: #fff;
}
